Quick Figures, "Specify Roi", Toolset_Runner("Specify...")
Quick Figures, "Install Plot Package", Plot_ToolInstaller("FigureWizApp")
Quick Figures, "Object Tools", Toolset_Runner("FigureWizApp")

Quick Figures, "Layout Tools", Toolset_Runner("LayoutToolSet")

Quick Figures, "Action Tools", Toolset_Runner("Position Action Tools")

Quick Figures, "Turn On Zvi Open Correction", Zvi_NameOnOpen("Test")

