
Plugins> QuickFigures, "Show Main Toolbar", Toolset_Runner("Object Tools")
Plugins> QuickFigures, "Specify ImageJ Roi", Toolset_Runner("Specify...")
Plugins> QuickFigures, "Install Plot Package", Plot_Tool_Installer("FigureWizApp")
Plugins> QuickFigures>Toolbars, "Object Tools", Toolset_Runner("Object Tools")

Plugins> QuickFigures>Toolbars, "Layout Tools", Toolset_Runner("LayoutToolSet")

Plugins> QuickFigures>Toolbars, "Action Tools", Toolset_Runner("Position Action Tools")

Plugins> QuickFigures>Toolbars, "QuickFigures (Show Toolbars)", Toolset_Runner("Object Tools+Smart Toolbar+Align and Arrange Action Tools")

Plugins> QuickFigures, "Turn On Zvi Open Correction", Zvi_NameOnOpen("Test")


